spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/benchmark
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    com.benchmark.app: DEBUG
    org.springframework.web: DEBUG
